.component-4-6 {
    align-items: flex-end;
    cursor: pointer;
    display: flex;
    height: 78px;
    justify-content: center;
    margin-left: 453px;
    min-width: 89px;
  }
  .component-5-3 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 70px;
    margin-left: 345px;
    min-width: 161px;
  }
  .component-6-1 {
    align-items: flex-start;
    cursor: pointer;
    display: flex;
    height: 70px;
    min-width: 161px;
  }
  .flex-row-6 {
    align-items: flex-start;
    display: flex;
    margin-right: 29px;
    min-width: 667px;
  }
  .flex-row-7 {
    align-items: flex-start;
    display: flex;
    margin-right: 29px;
    margin-top: 239px;
    min-width: 667px;
  }
  .help-4 {
    letter-spacing: 0;
    line-height: 29px;
    min-height: 40px;
    min-width: 62px;
    text-align: center;
    white-space: nowrap;
  }
  .ipad-nexus-9-5 {
    align-items: flex-end;
    background-color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 1024px;
    padding: 32px 26px;
    width: 768px;
  }
  .mafslogo-3 {
    height: 124px;
    object-fit: cover;
    width: 125px;
  }
  .next-6 {
    left: 22px;
    letter-spacing: 0;
    line-height: 68px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  .overlap-group-5 {
    height: 74px;
    margin-top: -4.5px;
    position: relative;
    width: 161px;
  }
  .overlap-group-6 {
    align-items: flex-start;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    height: 96px;
    justify-content: flex-end;
    margin-bottom: -15.0px;
    min-width: 107px;
    padding: 23.0px 22px;
  }
  .place-7 {
    left: 61px;
    letter-spacing: 0;
    line-height: 68px;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
  }
  .polygon-2-4 {
    height: 24px;
    left: 25px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 20px;
  }
  .polygon-2-5 {
    height: 24px;
    left: 123px;
    object-fit: cover;
    position: absolute;
    top: 28px;
    width: 20px;
  }
  .rectangle-6-3 {
    background-color: var(--white);
    border-radius: 32px;
    box-shadow: 0px 3px 6px #00000029;
    cursor: pointer;
    height: 70px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 161px;
  }
  .text-10 {
    letter-spacing: 0;
    line-height: 20px;
    margin-top: 33px;
    min-height: 106px;
    min-width: 670px;
    text-align: center;
    white-space: nowrap;
  }
  .text-9 {
    letter-spacing: 0;
    line-height: 48px;
    margin-right: 6px;
    margin-top: 323px;
    min-height: 65px;
    min-width: 684px;
    text-align: center;
    white-space: nowrap;
  }
  