.sidebar-list-styling {
  cursor: pointer;
  background-color: #ca2510;
  opacity: 0.3;
  margin-right: 30 px;
}

.side-route {
  margin-left: 15 px;
}
.chief {
  margin-top: 20px;
  color: coral;
}
.main {
  background-color: #ca2510;
  opacity: 0.3;
}

.logo {
  width: Zpx; 
  height: Ypx; 
}
  
.form {

  margin-left: 15 px;
}
  span {
    font-size: 30px;
    @media only screen and (max-width: 600px) {
      font-size: 20px;
      :nth-child(2) {
        font-size: 16px !important;
        margin-top: 0px !important;
      }
    }
  }

  a {
    text-decoration: none;
    text-transform: none;
    color: #000;
    cursor: pointer;
  }

  img {
    width: 150px;
    height: 150px;
    pointer-events: none;
    object-fit: contain;
  }
  